# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Logs (Essential for backend apps) ---
*.log
logs/

# --- OS Junk Files ---
.DS_Store
Thumbs.db

# --- Secrets & Env (Safety First) ---
.env
*.env
secrets.properties

# --- IDE Specifics ---

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/